# C++ objects and libs

*.slo
*.lo
*.o
*.vcxproj
*.user
*.obj
*.filters
*.sln
*.la
*.lai
*.dylib
*.y
*.opendb
# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*build-*
*.autosave
Runtime/DBin
Runtime/Bin
Runtime/Logs
Runtime/Config/milesInfo.json
Runtime/Config/deviceInfo.json
Runtime/Config/cameraData
Runtime/Config/mapYR.yml
Runtime/Config/LeftRefJpg.jpg
Runtime/Config/RightRefJpg.jpg
Runtime/Config/roadModel.yml
Runtime/Config/collisionArea.yml
Runtime/Config/ldw.yml
SmartAuto/comm.pri

*.DS_Store

.vs/
%USERPROFILE%

Makefile.Debug
Makefile.Release
.qmake.stash
*.pdb
moc_predefs.h
